{
	title = "Welcome to Docket";
	entries = (
		{
			text = "This is an example list";
		},
		{
			text = "Add to it using the box below";
		},
		{
			text = "The Edit button lets you delete";
		},
		{
			text = "As well as reorder entries";
		},
		{
			text = "Check entries by tapping the box";
		},
		{
			text = "Or by swiping if you have iOS 4";
		},
		{
			text = "The blue arrow shows details";
		},
		{
			text = "It also lets you edit entries";
		},
		{
			text = "That's about it!";
		},
	);
}